<!DOCTYPE html>
<html lang="en" ng-app="AngularParks">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Parking Rennes</title>

	<link href="./lib/bootstrap-sbadmin2/css/bootstrap.min.css" rel="stylesheet">
	<link href="./lib/bootstrap-sbadmin2/css/metisMenu.min.css" rel="stylesheet">

	<link href="./lib/bootstrap-sbadmin2/css/sb-admin-2.css" rel="stylesheet">
	<link href="./lib/bootstrap-sbadmin2/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!--
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-ressource.js"></script>


		<script src="js/app.js"></script>
		<script src="js/controller.js"></script>
		<script src="js/service.js"></script>
-->

	<script src="minified.js"></script>

	<script src="./lib/bootstrap-sbadmin2/js/jquery.min.js"></script>
	<script src="./lib/highcharts/js/highcharts.js"></script>
	<script src="./lib/highcharts/js/modules/exporting.js"></script>
	<script src="./lib/bootstrap-sbadmin2/js/bootstrap.min.js"></script>
	<script src="./lib/bootstrap-sbadmin2/js/metisMenu.min.js"></script>
	<script src="./lib/bootstrap-sbadmin2/js/sb-admin-2.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
<!--	<script src="./js/controllerMap.js"></script>
-->
</head>

<body>
	<!-- Navigation -->
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			<div ng-include="'partials/header.html'"></div>
			<div ng-include="'partials/sidebar.html'"></div>
		</nav>

		<div id="page-wrapper" ng-view></div>
	</div>
</body>
</html>
